#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1

%:
	dh $@

override_dh_auto_clean:
	echo "SHUTDOWN_PREFIX=dinit-" > ./mconfig
	$(MAKE) clean
	rm mconfig

override_dh_auto_configure:
	sh configure CXXOPTS="$(CXXFLAGS)" LDFLAGS="$(LDFLAGS)"

override_dh_auto_test:
	$(MAKE) check
	$(MAKE) check-igr

override_dh_auto_install:
	dh_auto_install -- STRIPOPTS="" # Be compatible with debcompat 13
